In [1]:
import cassandra

# Create connection and keyspace

In [2]:
from cassandra.cluster import Cluster

try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print (e)

In [3]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION =
    { 'class' : 'SimpleStrategy', 'replication_factor' : '1'}
    """)
except Exception as e:
    print(e)

try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

# SQL queries
- select * from music_library where year=1970
- select * from music_library where year=1970 and artist_name="The Beatles"
- select * from music_library where year=1970 and city="Liverpool"
- select * from music_library where year=1970 and artist_name="The Beatles" and album_name="Let It Be"

# Create music_library table

In [4]:
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY (year, artist_name, album_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

# Insert data

In [5]:
query = "INSERT INTO music_library (year, artist_name, album_name, city)"
query = query + "VALUES (%s, %s, %s, %s)"

# Insert into music_library
try:
    session.execute(query, (1970, "The Beatles", "Let It Be", "Liverpool"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1964, "The Beatles", "Beatles For Sale", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You", "San Diego"))
except Exception as e:
    print(e)

# Validate data

## 1st query

In [6]:
query = "SELECT * FROM music_library WHERE year=1970"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1970 The Beatles Let It Be Liverpool
1970 The Carpenters Close To You San Diego

## 2nd query

In [7]:
query = "SELECT * FROM music_library WHERE year=1970 AND artist_name='The Beatles'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1970 The Beatles Let It Be Liverpool

## 3rd query

In [9]:
query = "SELECT * FROM music_library WHERE year=1970 AND artist_name='The Beatles' AND city='Liverpool'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

In [11]:
query = "SELECT city FROM music_library WHERE year=1970 AND artist_name='The Beatles' AND album_name='Let It Be'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.city)

Liverpool

# Drop tables and close connection

In [ ]:
session.execute("DROP TABLE IF EXISTS music_library")
session.execute("DROP TABLE IF EXISTS album_library")

session.shutdown()
cluster.shutdown()