# Import Cassandra package

In [1]:
import cassandra

# Create connection

In [2]:
from cassandra.cluster import Cluster

try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print (e)

# Create Keyspace and connect

In [3]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION =
    { 'class' : 'SimpleStrategy', 'replication_factor' : '1'}
    """)
except Exception as e:
    print(e)

try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

# Create music_library table

In [4]:
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY (artist_name, album_name, city))"
try:
    session.execute(query)
except Exception as e:
    print(e)

# Insert data

In [5]:
query = "INSERT INTO music_library (year, artist_name, album_name, city)"
query = query + "VALUES (%s, %s, %s, %s)"

# Insert into music_library
try:
    session.execute(query, (1970, "The Beatles", "Let It Be", "Liverpool"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1964, "The Beatles", "Beatles For Sale", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You", "San Diego"))
except Exception as e:
    print(e)

# Validate data

In [6]:
query = "SELECT * FROM music_library WHERE artist_name='The Beatles'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1964 The Beatles Beatles For Sale London
1970 The Beatles Let It Be Liverpool
1965 The Beatles Rubber Soul Oxford

# DROP Tables and close session and connection

In [7]:
session.execute("DROP TABLE IF EXISTS music_library")
session.execute("DROP TABLE IF EXISTS album_library")

session.shutdown()
cluster.shutdown()