## Import Cassandra package

In [40]:
import cassandra

## Create a connection

In [41]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

## Create a keyspace

In [42]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION =
    { 'class' : 'SimpleStrategy', 'replication_factor' : '1'}
    """)
except Exception as e:
    print(e)

## Connect to the Keyspace

In [43]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

# Create 2 tables

In [44]:
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)


query = "CREATE TABLE IF NOT EXISTS album_library "
query = query + "(artist_name text, year int, album_name text, PRIMARY KEY (artist_name, year))"
try:
    session.execute(query)
except Exception as e:
    print(e)

## Insert data into tables

In [45]:
query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + "VALUES (%s, %s, %s)"

query1 = "INSERT INTO album_library (artist_name, year, album_name)"
query1 = query1 + "VALUES (%s, %s, %s)"

# Insert into music_library
try:
    session.execute(query, (1970, "The Beatles", "Let It Be"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "The Who", "My Generation"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Carpenters", "Close To You"))
except Exception as e:
    print(e)

# Insert into album_library
try:
    session.execute(query1, ("The Beatles", 1970, "Let It Be"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Beatles", 1965, "Rubber Soul"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Who", 1965, "My Generation"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Monkees", 1966, "The Monkees"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Carpenters", 1966, "Close To You"))
except Exception as e:
    print(e)

# Validate our data model
## Query 1: select * from music_library where=1970
## Query 2: select * from artist_lirary where="The Beatles"

In [46]:
query = "SELECT * FROM music_library WHERE year=1966"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name)

1966 The Carpenters Close To You
1966 The Monkees The Monkees

In [47]:
query = "SELECT * FROM album_library WHERE artist_name='The Beatles'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name)

1965 The Beatles Rubber Soul
1970 The Beatles Let It Be

 # DROP Tables

In [48]:
session.execute("DROP TABLE IF EXISTS music_library")
session.execute("DROP TABLE IF EXISTS album_library")

# Close session and cluster connections

In [49]:
session.shutdown()
cluster.shutdown()